@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,1000;1,400;1,500&family=Oswald:wght@600&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    /* border: 1px solid; */
    transition: 0.3s all ease;

    font-family: "Bebas Neue", sans-serif;
    font-family: "Nunito", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Roboto", sans-serif;
}

.main-content {
    background-color: white;
    border: 2px solid aquamarine;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: calc(85dvw - 5rem);
    height: calc(100dvh - 100px - 2rem);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    overflow: auto;
}

* {
    button {
        cursor: pointer;
    }
}

.order-manage,
.listPoint,
.listleader {
    .tabnav {
        padding: 0;
        margin: 1rem 0 0 0;

        button {
            padding: 0.5rem 1rem;
            margin: 0;
            font-size: 1.2rem;
            outline: none;
            border: none;
            font-weight: bold;
        }
        button:nth-child(1) {
            border-top-left-radius: 1rem;
        }
        button:last-child {
            border-top-right-radius: 1rem;
        }
        button.active {
            background-color: aquamarine;
        }
    }
    .tab {
        margin: 0;
        padding: 1rem;
        background-color: aquamarine;
        height: 61dvh;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        overflow-y: scroll;
    }

    h1 {
        /* color: white; */
        padding: 0;
        margin: 0;
    }

    h2 {
        margin: 0;
    }
.action-butt {
    display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 1rem;
                bottom: 4px;
                right: 4px;
                border-radius: 1rem;
                font-size: 1rem;
                font-weight: bold;
                border: 2px solid white;
                background-color: aquamarine;
                align-self: flex-end;
                width: 100%;
                box-shadow:
                    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
                    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

}
.action-activate-butt {
    display: inline;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
                gap: 1rem;
                bottom: 4px;
                right: 4px;
                border-radius: 1rem;
                font-size: 1rem;
                font-weight: bold;
                border: 2px solid white;
                background-color: aquamarine;
                align-self: flex-end;
                width: 50%;
                box-shadow:
                    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
                    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

}
.action-activate-butt:hover {
    background-color: greenyellow;
}
.action-butt:hover {
    background-color: #ff0000;
}
    .ord {
        display: grid;
        grid-template-columns: 2fr 1fr;

        background-color: rgb(198, 255, 238);
        position: relative;
        /* 
        button {
            position: absolute;
            bottom: 4px;
            right: 4px;
        } */

        margin: 8px;
        padding: 1rem;
        border-radius: 0.5rem;

        label {
            color: grey;
        }

        .stateBttn {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            button {
                border-radius: 1rem;
                font-size: 1rem;
                font-weight: bold;
                border: 2px solid white;
                background-color: aquamarine;
                box-shadow:
                    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
                    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
            }
        }
    }
}

.listleader {
    table {
        width: 100%;
        border-collapse: collapse;
        td {
            border: 2px solid white;
            padding: 8px;
        }
    }
}

.statistic {
    /* background-color: red; */
    .d1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        div {
            background-color: rgb(72, 234, 180);
            border-radius: 0.5rem;
            padding: 0.5rem;
            span {
                color: rgb(12, 82, 58);
                font-size: 1.4rem;
                font-weight: bolder;
            }
            h1 {
                margin: 0;
                font-size: 2rem;
            }
        }
    }
    .d2 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .d3 {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px; */
    }
    .d4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .d11 {
        text-align: center;
    }
}

.userportrait {
    /* background-color: aquamarine; */
    padding: 0.5rem 0;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;

    display: flex;
    flex-direction: row;

    .user {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 0;
        margin: 0 4px;

        span:nth-child(1) {
            background-color: aquamarine;
            padding: 0.5rem;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            margin-right: 4px;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        transform: translateY(2px);

        margin-right: 8px;
    }
}

.leader,
.admin {
    .sidebar {
        display: flex;
        flex-direction: column;
        position: relative;

        .newOrderBttn {
            position: fixed;
            left: 1rem;
            top: 80px;
            padding: 0.5rem;
            font-size: 1.4rem;
            font-weight: bold;

            cursor: pointer;

            background-color: white;
            position: fixed;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 1rem;
            border: 2px solid aquamarine;
        }

        ul {
            width: 10dvw;
            min-width: 14dvw;
            height: calc(100dvh - 110px);
            position: fixed;
            bottom: 0.5rem;
            left: 1rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 1rem;
            border: 2px solid aquamarine;

            list-style: none;
            padding: 0;
            li {
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;

                margin: 0;
                font-size: 1rem;
                padding: 1rem 0;
                cursor: pointer;
                padding: 1rem;
            }
            li:hover {
                background-color: aquamarine;
            }
            li.active {
                background-color: aquamarine;
            }
        }
    }

    .listStaff {
        table {
            width: 100%;
            /* border: 1px solid aquamarine; */
            border-collapse: collapse;
            border-radius: 1rem;

            th,
            td {
                text-align: left;
                padding: 0.5rem;
            }

            td {
                border: 1px solid aquamarine;
            }

            tr {
                /* border: 1px solid aquamarine; */
            }

            tr:nth-child(1) {
                th:nth-child(1) {
                    border-top-left-radius: 1rem;
                    overflow: hidden;
                }
                th:last-child {
                    border-top-right-radius: 1rem;
                    overflow: hidden;
                }
            }
            tr:last-child {
                td:nth-child(1) {
                    border-bottom-left-radius: 1rem;
                    overflow: hidden;
                }
                td:last-child {
                    border-bottom-right-radius: 1rem;
                    overflow: hidden;
                }
            }
            .action-butt {
                display: grid;
                            grid-template-columns: repeat(1, 1fr);
                            gap: 1rem;
                            bottom: 4px;
                            right: 4px;
                            border-radius: 1rem;
                            font-size: 1rem;
                            font-weight: bold;
                            border: 2px solid white;
                            background-color: aquamarine;
                            align-self: flex-end;
                            width: 100%;
                            box-shadow:
                                rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
                                rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
            
            }
            .action-butt:hover {
                background-color: #ff0000;
            }
            th {
                background-color: aquamarine;
            }
        }
    }

    .createStaffForm {
        margin: 1rem;

        display: flex;
        flex-direction: column;

        .formInput {
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 5fr;
            gap: 1rem;

            font-size: 1.2rem;
            font-weight: bold;

            input,
            select {
                padding: 0.4rem 2px;
                font-size: 1rem;
                border-radius: 4px;
                border: 2px solid rgb(22, 125, 91);
                background-color: rgb(223, 248, 240);
            }

            button {
                background-color: rgb(0, 212, 141);
                font-size: 1.4rem;
                padding: 0.4rem;
                color: white;
                font-weight: bold;
                border: 2px solid aquamarine;
                border-radius: 0.5rem;
            }
        }
    }
}
.updateLeaderForm {
    margin: 1rem;

    display: flex;
    flex-direction: column;

    .formInput {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 1rem;

        font-size: 1.2rem;
        font-weight: bold;

        input,
        select {
            padding: 0.4rem 2px;
            font-size: 1rem;
            border-radius: 4px;
            border: 2px solid rgb(22, 125, 91);
            background-color: rgb(223, 248, 240);
        }
        h1 {
            text-align: center;
        }
        button {
            background-color: rgb(0, 212, 141);
            font-size: 1.4rem;
            padding: 0.4rem;
            color: white;
            font-weight: bold;
            border: 2px solid aquamarine;
            border-radius: 0.5rem;
        }
    }
}

.orderState,
.orderDetails {
    table {
        width: 100%;

        td {
            padding: 0 1rem 1rem 1rem;
            max-width: 60%;
        }
    }
}

.listPoint {
    .dtk,
    .dgd {
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 1rem;
        .card {
            background-color: rgb(214, 255, 241);
            display: flex;
            flex-direction: column;
            justify-content: left;
            /* align-items: center; */

            text-align: left;
            border-radius: 1rem;
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
            border: 2px solid white;

            h3,
            p {
                margin: 0 1rem;
            }
            .view-details-button {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 1rem;
                bottom: 4px;
                right: 4px;
                border-radius: 1rem;
                font-size: 1rem;
                font-weight: bold;
                border: 2px solid white;
                background-color: aquamarine;
                align-self: flex-end;
                width: 10%;
                box-shadow:
                    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
                    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
            }
        }
    }
}
