.dashboard {
    .sideBar {
        background-color: aquamarine;
        width: fit-content;
        position: fixed;
        top: 200px;
    }

    .main-content {
        position: absolute;
        top: 100px;
        left: 20dvw;
        border: 1px solid;
        width: 75dvw;

        .createForm {
            display: flex;
            flex-direction: column;

            form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 16px;
            }
        }
    }
}
